<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js3 bangla</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.global.js"></script>
</head>
<body> 
    <h3>Watcher</h3>

    <div id="app">
       <input 
       type="text" 
       v-model="mobile" 
       placeholder="Enter 11 digit mobile number"
       >
       <!-- Data property object hole jevabe watch korte hobe -->
       <br><br>
       <input 
       type="text" 
       v-model="name.firstName" 
       placeholder="Enter First Name"
       >
       <br><br>
       <input 
       type="text" 
       v-model="name.lastName" 
       placeholder="Enter Last Name"
       >
       
    </div>
   
    

    <script src="app.js"></script>
</body>
</html> 